*{
    margin:0px;
    padding:0px;
}

h1{
    text-align: center;
    border:2px solid rgb(189, 102, 102);
    width:700px;
    margin-left:350px;
    background-color: rgb(216, 185, 185);
} 
form{
    border:2px solid rgb(189, 102, 102);
    display:inline-block;
    position: relative;
    top:20px;
    left:120px;
    height:1150px;
    background-color: rgb(216, 185, 185);
    margin-left:200px;
    border-radius: 16px;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 500;
    font-size: large;
    max-width: 700px;;
}
fieldset{
    background-color: rgb(216, 185, 185);
    border:2px solid rgb(189, 102, 102);
    margin:15px;
    padding: 25px;
    border-radius: 20px;
}
legend{
    font-weight: bold;
    text-align: center;
    font-size: large;
}
label{
    font-size:x-large;
    font-weight:lighter;
}
input{
    background-color: white;
    width:500px;
    height:40px;
    margin:5px;
    padding: 2px;
    border:2px solid;
    font-size: medium;
}
textarea{
    background-color: white;
    width:500px;
    height:120px;
    display: block;
    border: 2px solid;
    margin:5px;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    padding:5px
}
button{
    margin:10px;
    margin-left: 150px;
    border:2px solid rgb(189, 102, 102);
    height:50px;
    width:300px;
    cursor: pointer;
}
button:hover{
    background-color: brown;
}
#display{
    border:2px solid rgb(189, 102, 102);
    position: relative;
    top:20px;
    left:120px;
    box-shadow: 0 4px 8px rgba(189, 102, 102,0.5);
    background-color: rgb(216, 185, 185);
    margin-left:200px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 16px;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 500;
    font-size: large;
    max-width: 700px;;
}
fieldset{
    background-color: rgb(216, 185, 185);
    border:2px solid rgb(189, 102, 102);
    margin:15px;
    padding: 25px;
    border-radius: 20px;
}
